



<ion-content>


      <ion-list-header class="texto1" >
        MENÚ PRINCIPAL
      </ion-list-header>


  <ion-grid class="padding">
  <ion-button class="boton1" (click)="irPerfil()"  >MI PERFIL   <ion-icon class="posicion-icono" name="person-sharp"></ion-icon> </ion-button>
  <ion-button class="boton2" (click)="irJuegos()" >MIS JUEGOS <ion-icon class="posicion-icono" name="game-controller-sharp"></ion-icon></ion-button>
  <ion-button class="boton3" (click)="irGrupos()" ><ion-icon class="posicion-icono" name="people-sharp"></ion-icon> MIS GRUPOS</ion-button>
  </ion-grid>

  <ion-button class="backbutton" (click)="atras()" ><ion-icon  name="arrow-back-sharp"> </ion-icon>BACK</ion-button>
</ion-content>
