/* ++++++++++++++++++++++++ 2.5 PUNTOS +++++++++++++++++++++++++++*/

.puntos-content{
    text-align: center;
    #alumno-ranking {
      overflow: auto;
    }
  
    .ranking-acordeon {
      background: aquamarine;
      width: 90%;
      margin: auto;
      margin-bottom: 3%;
      .span{
        display: flex;
        align-items: center;
      }
      .mat-expansion-panel-header.mat-expanded {
        background: cadetblue;
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 0px;
        h2{
          color: white;
          font-size: 17px;
        }
        .avatar {
          width: 50px;
          height: 50px;
          margin-right: 10px;
          border: 2px solid;
          border-color: greenyellow;
        }
      }
      .mat-expansion-panel-content {
        background: rgba(47, 79, 79, 0.4);
        display: flex;
        .mat-expansion-panel-body {
          margin-top: 15px;
        }
      }
      .avatar {
        width: 40px;
        height: 40px;
        margin-right: 20px;
        border: 2px solid;
        border-color: white;
      }
    }
    .puntos-list-bg {
      background: transparent;
      ion-item {
        --background: transparent;
        h2 {
          font-size: 15px;
          color: black;
        }
      }
    }
    .nivel-puntos {
      display: flex;
      justify-content: space-between;
      h1 {
        font-size: 15px;
        margin: auto;
        margin-bottom: -10px;
        color: #354f7b;
      }
      p {
        border: 3px solid;
        border-color: #354f7b;
        border-radius: 10px;
        background: #354f7b;
        color: white;
      }
    }
    .info-alumno{
      .logo {
        margin-top: 10%;
      }
      h2 {
        font-size: 15px;
        color: #354f7bff;
      }
      h3 {
        font-size: 44px;
        background: darkseagreen;
        color: white;
      }
    }
  
    .info-equipo{
      .logo {
        margin-top: 10%;
      }
      h2 {
        font-size: 15px;
        color: #354f7bff;
      }
      h3 {
        font-size: 44px;
        background: darkseagreen;
        color: white;
      }
      .alumnos-grupo {
        display: flex;
        margin: auto;
        .alumno-image {
          margin: auto;
          display: flex;
          flex-direction: column;
          justify-content: center;
          .border {
            border: 3px solid lightpink;
            border-radius: 50%;
            width: fit-content;
            background-color: bisque;
            .img-box {
              height: 50px;
              width: 50px;
              border-radius: 50%;
              overflow: hidden;
            }
          }
          p {
            color: #354f7b;
            font-weight: bold;
          }
          .muestra-puntos-equ{
            p{
              color: white;
            }
          }
          .border-conectado {
            border: 3px solid rgb(64, 98, 155);
            border-radius: 50%;
            width: fit-content;
            background-color: lightblue;
            .img-box {
              height: 50px;
              width: 50px;
              border-radius: 50%;
              overflow: hidden;
            }
          }
        }
      }
    }
    .tabla-puntos {
      .cabecera-tabla {
        background: #17447eff;
        color: white;
        border-top-right-radius: 17px;
        border-top-left-radius: 17px;
      }
      .casillas-tabla {
          color: #17447eff;
          border-left: thin solid;
          border-right: thin solid;
          border-bottom: thin solid;
          border-left-color: #17447eff;
          border-right-color: #17447eff;
          border-bottom-color: #17447eff;
          h1 {
            margin: auto;
            font-size: 15px;
          }
        }
    }
    .puntos-info {
      position: fixed;
      bottom: 0;
      height: 70px;
      width: 100%;
      padding-top: 20px;
      background: linear-gradient(to top, #000066 -50%, #ff9999 100%);
      transition: all 1s;
      border-radius: 85% 85% 0 0 / 30%;
      p {
        color:white;
      }
  
      &.active {
        height: calc(100% - 100px);
      }
  
      .toggle-text {
        color: white;
        font-size: 15px;
      }
  
      .info-segment{
        margin: auto;
        width: 70%;
        .btn-segment{
          color: white;
        }
      }
  
      .infopuntos {
        margin-top: 5%;
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 80%;
        p{
          color: black;
          font-size: 12px;
        }
        h1{
          color: white;
          font-size: 14px;
        }
        img {
          width: 100px;
          margin-top: 20px;
        }
      }
    }
    #informacion{
      overflow: hidden;
    }
}