<ion-header>
  <ion-toolbar>
    <ion-title>Classpipkids</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-text> ESTAS DENTRO DEL LIBRO---> VISOR O EDITOR</ion-text>
  <ion-row style="height: 25px"></ion-row>

  <ion-button  (click)="irVisorEscenas()" >Visor de Escenas</ion-button>
  <ion-row style="height: 50px"></ion-row>
  <ion-button  (click)="irCuento()" >Crear Escena</ion-button>
  <ion-row style="height: 50px"></ion-row>

  <ion-button  (click)="Atras()" >Atras </ion-button>

</ion-content>
