

<ion-content>
  
  <ion-list-header class="texto1" >
    MENÚ CUENTO
  </ion-list-header>


  <ion-button class="boton1" (click)="irVisorEscenas()" >VISOR DE ESCENAS <ion-icon class="posicion-icono" name="eye-sharp"></ion-icon></ion-button>
  <ion-button class="boton2"  (click)="irCuento()" >CREAR ESCENA <ion-icon class="posicion-icono" name="pencil-sharp"></ion-icon></ion-button>

  <ion-button class='backbutton' (click)="Atras()" ><ion-icon  name="arrow-back-sharp"> </ion-icon>BACK </ion-button>

</ion-content>
