.texto1{
    color:rgb(255,255,255);
    font:bold;
}

ion-toolbar{

    --background: linear-gradient(to top, #30cfd0 0%, #330867 100%);

}

ion-content{

    --background: linear-gradient(to top, #30cfd0 0%, #330867 100%);
}

