<head>
  <title>Memorama</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css">
</head>
<body>



    <div *ngIf="preparado">
    
      <div  *ngIf = "Cartaspartedetras"  >

        <div id="contador" class="nuevoJuego">CONTADOR</div> 


      <div id="tablero" class="grid-container">
        <div (click)="seleccionartarjeta(i);" class="area-tarjeta" *ngFor="let elem of Cartaspartedetras;let i = index"  >
          <div class="tarjeta" id="tarjeta{{i}}">

            <div class="cara superior">
            <!-- <i class="fab fa-accusoft"></i> -->
            <img id="CARTAATRAS" class = "redimensiondetras" [src]="Cartaspartedetras[i]" >
            
            </div>

            <div id="trasera{{i}}" class="cara trasera">
              <!-- <i class="fas fa-adjust"></i> -->
              <img id="CARTADELANTE" class = "redimensiondelante" [src]="damecartasdelafamilia[i]">

            </div>

          </div>
        </div>
      </div>
      </div>
    </div>

  <button id="ayuda" class="nuevoJuego" (click)="Ayuda()">AYUDA</button> 

</body>
