<!-- <ion-header>
  <ion-toolbar>
    <ion-title>MEMORAMAS</ion-title>
  </ion-toolbar>
</ion-header> -->

<!-- <ion-content > -->
  <audio src="acierto.mp3" autoplay="true" loop="true">CANCIOOOON</audio>


<body id="body">

  <div id="fondo" class="fondodepantalla">

    <div *ngIf="preparado && Cartaspartedetras" >

      <div id="LA VIDAAAAA">
    <div class="nuevoJuegot" id="puntuacion">
      <div class="item1">PUNTUACIÓN</div>
      <div id="item3" class="item3">0</div> 
      <div id="item4" class="item4">0</div>   
    </div>
    <button id="ayuda" class="nuevoJuego" (click)="Ayuda()">AYUDA</button>

    <div *ngIf="tempo">
    <div id="countdown" class="temp" >
      INICIO
    </div>
  </div>
 
<!-- 
<ion-grid>
      <div id="tablero" class="grid-container"> 
        <ion-row size="6" >
            <ion-col  (click)="seleccionartarjeta(i);" class="area-tarjeta" *ngFor="let elem of Cartaspartedetras;let i = index">
              <div class="tarjeta" id="tarjeta{{i}}">
            
                <div class="cara superior">
                <img id="CARTAATRAS" class = "redimensiondetras" [src]="Cartaspartedetras[i]" >
                </div>
    
                <div id="trasera{{i}}" class="cara trasera">
                  <img id="CARTADELANTE" class = "redimensiondelante" [src]="damecartasdelafamilia[i]">
    
                </div>
    
              </div>
            </ion-col>

        </ion-row>
</ion-grid> -->


       <div id="tablero" class="grid-container"> 

        <div (click)="Pillarcartas(i);" id="areatarjeta{{i}}" class="area-tarjeta" *ngFor="let elem of Cartaspartedetras;let i = index"  >
         
          <div class="tarjeta" id="tarjeta{{i}}" >
            
            <div id="carasuperior{{i}}"class="cara superior">
            <img id="CARTAATRAS{{i}}" class = "redimensiondetras" [src]="Cartaspartedetras[i]" >
            </div>

            <div id="trasera{{i}}" class="cara trasera">
              <img id="CARTADELANTE{{i}}" class = "redimensiondelante" [src]="damecartasdelafamilia[i]">

            </div>

          </div>

        </div>
      </div> 
      
      <p id="Title">{{Nombreinicial}}</p>
 
</div>


<!-- <div class="banner contenedor">
  <div class="banner_img">
      <img src="serpiente.png" alt="serpiente">
  </div>
</div> -->


</div>




</div>

<div *ngIf="acabao" id="resultado" class="resultado">
                  <div> Jugador: {{nombrealumno}} </div>
  <div>Juego Finalizado:{{puntuacionHTML}} p y Tiempo:{{tiempoHTML}}</div>
</div>

</body>





<!-- </ion-content> -->
