<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Classpipkids
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  
  <ion-content [fullscreen]="true">
    <div id="rotate-area">
   
    <img id="prueba" bottom="1500px" left="50px" width="50" height="50" [src]= "value" >
  
  </div>
 

<ion-list style="text-align:center">
  <ion-button style = "width: 20%; height: 40pt" class="ranking-btn" (click)="arrastrar()">         <ion-icon name="move-outline"></ion-icon></ion-button> 
  <ion-button style = "width: 20%; height: 40pt" class="ranking-btn-azul" (click)="resize()">       <ion-icon name="resize-outline"></ion-icon></ion-button>
  <ion-button style = "width: 20%; height: 40pt"class="ranking-btn-rojo" (click)="girar()">         <ion-icon name="refresh-outline"></ion-icon></ion-button> 
  <ion-button style = "width: 20%; height: 40pt" class="ranking-btn-azul" (click)="invertir();">        <ion-icon name="repeat-outline"></ion-icon></ion-button>
<!-- <div id="angle-info">0°</div>S-->  

</ion-list>

</ion-content>
