<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Classpipkids
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  
  <ion-content [fullscreen]="true">
    <div id="rotate-area">
   
    <img id="prueba" bottom="1500px" left="50px" width="50" height="50" [src]= "value" >
  
  </div>
 

<ion-list style="text-align:center">
  <ion-button style = "width: 20%; height: 40pt" class="ranking-btn" (click)="arrastrar()">         <ion-icon name="move-outline"></ion-icon></ion-button> 
  <ion-button style = "width: 20%; height: 40pt" class="ranking-btn-azul" (click)="resize()">       <ion-icon name="resize-outline"></ion-icon></ion-button>
  <ion-button style = "width: 20%; height: 40pt"class="ranking-btn-rojo" (click)="girar()">         <ion-icon name="refresh-outline"></ion-icon></ion-button> 
  <ion-button style = "width: 20%; height: 40pt" class="ranking-btn-azul" (click)="invertir();">        <ion-icon name="repeat-outline"></ion-icon></ion-button>
  <ion-button style = "width: 20%; height: 40pt" class="ranking-btn-azul" (click)="traeImagenesRecursoLibro();">        <ion-icon name="repeat-outline"></ion-icon></ion-button>

<!-- <div id="angle-info">0°</div>S-->  

</ion-list>
<!--
<div *ngIf="recursoCargadoPregunta">
  <h2>Personajes:</h2>

  <div>
    <mat-grid-list cols="4" rowHeight="1:1">
      <mat-grid-tile *ngFor='let imageF of listaFotosPersonajes'>
        <mat-card>

          <img [src]='imageF.url' height="175" width="175">
          <p>{{imageF.nombre}}</p>
          <p>{{imageF.especial}}</p>
        </mat-card>

      </mat-grid-tile>
    </mat-grid-list>
  </div>

--> 

  <div *ngIf="recursoCargadoPregunta">
    <ion-row>
      <ion-text>
        <p>Personajes:</p>
      </ion-text>
      <ion-col size="4" *ngFor="let imageF of listaFotosPersonajes">
        <ion-card (click)="seleccionarfondo(foto)">

          <ion-col> <img src={{imageF.url}} width="175" height="175" class="center"></ion-col>
          <ion-col>
            <p>{{imageF.nombre}}</p>
            <p>{{imageF.especial}}</p>


          </ion-col>

        </ion-card>




      </ion-col>
    </ion-row>

<!-- <div id="angle-info">0°</div>S--> 
<ion-row>
  <ion-text>
    <p>Objetos:</p>
  </ion-text>
  <ion-col size="2" *ngFor="let imageP of listaFotosFondos">
    <ion-card (click)="seleccionarfondo(foto)">

      <ion-col> <img src={{imageP.url}} width="450" height="450" class="center"></ion-col>
      <ion-col>
        <p>{{imageP.nombre}}</p>
        <p>{{imageP.especial}}</p>


      </ion-col>

    </ion-card>




  </ion-col>
</ion-row>




<!-- <div id="angle-info">0°</div>S--> 

    <ion-row>
      <ion-text>
        <p>Fondos:</p>
      </ion-text>
      <ion-col size="4" *ngFor="let imageO of listaFotosObjetos">
        <ion-card (click)="seleccionarfondo(foto)">

          <ion-col> <img src={{imageO.url}} width="175" height="175" class="center"></ion-col>
          <ion-col>
            <p>{{imageO.nombre}}</p>
            <p>{{imageO.especial}}</p>


          </ion-col>

        </ion-card>




      </ion-col>
    </ion-row>










  </div>














</ion-content>


